* {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
}

div.leaflet-popup-content {
    padding-top: 5px !important;
    padding: 5px 10px;
}

a.leaflet-popup-close-button {
    display: none;
}

image.marker {
    cursor: pointer;
}