svg {
    position: absolute;
    top: 0;
    z-index: 100;
}

svg path {
    stroke: #fff;
    fill: #fff;
    stroke-width: 1.01; /* Chrome trick so the stroke disappears */
}

#bubble {
    position: absolute;
    z-index: 200;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .4);
}

#bubble div {
    display: table;
}

#bubble div p {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

section {
    overflow: none;
    width: 100%;
}

/* ---------- First screen ---------- */
section:first-of-type {
    position: relative;
    background-color: #1C1C1C;
}

#intro {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 200;
}

#intro p {
    font-family: "u.s._101regular", sans-serif;
}

#intro p:first-of-type {
    color: #fff;
}

#intro p:nth-of-type(2) {
    color: #999;
}

#intro p:nth-of-type(2) span {
    color: #cc0000;
}

#intro form {
    display: block;
    text-align: center;
}

#intro input, #intro input:required:invalid {
    display: inline-block;
    margin: 0 20px 0 0;
    width: 8ch;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    font-family: "u.s._101regular", sans-serif;
    text-align: center;
    color: #999;
    background-color: transparent;
    border: 1px solid #999;
}

#intro input.invalid {
    outline: none;
    color: #cc0000;
    border: 1px solid #cc0000;
}

#intro input:hover, #intro input:focus, #intro input:required:valid {
    outline: none;
    color: #fff;
    border: 1px solid #fff;
}

#intro button {
    width: 11ch;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    font-family: "u.s._101regular", sans-serif;
    text-align: center;
    color: #1C1C1C;
    background-color: #999;
    border: 1px solid #999;
}

#intro button.active  {
    outline: none;
    background-color: #fff;
    border: 1px solid #fff;
}

#intro p.loader {
    display: none;
    text-align: center;
}

#intro p.loader svg {
    position: static;
    fill: #fff;
}




section:nth-of-type(2) {
    background-color: #b0b0b0;
}