* {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
}

.noCloseButton .leaflet-popup-content {
    padding-top: 5px !important;
    padding: 5px 10px;
}

image.marker {
    cursor: pointer;
}